@charset "utf-8";
/* CSS Document */
#best_top_div>div>ul>li>a{
	color: gray;
}
#best_top_div>div>ul>li>a:hover{
	color: orangered;
}
#best_top_div>div>ul>li>a>span{
	color: gray;
	opacity: 0.6;
}
.color_orange{
	color:orangered !important;
}
.color_green{
	color:#A0B959;
}
.color_purple{
	color:#DF61AB;
}
.color_blue{
	color:#52A0E5;
}